<!-- Responsive navbar-->
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="bi bi-person-fill"></i>
                Ismaël Balaghni
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-door-fill"></i> Accueil</a>
                    <a class="nav-link active" href="/education/index.html"><i class="bi bi-book-fill"></i> Éducation et formation</a>
                    <a class="nav-link active" href="/work/index.html"><i class="bi bi-building-fill"></i> Expérience professionnelle</a>
                    <a class="nav-link active" href="/projects/index.html"><i class="bi bi-wrench-adjustable-circle-fill"></i> Projets</a>
                </div>
            </div>
        </div>
    </nav>
</header>
